.white-text {
  color: white;
}

.gray-text {
  color: #919191;
}

.bg-gray-light {
  background-color: #D8D8D8;
}

.bg-yellow {
  background-color: #F6CF2E;
}

.bg-orange {
  background-color: #F5871F;
}

.bg-skyblue {
  background-color: #5E9DD7;
}

.bg-green-dark {
  background-color: #00A282;
}

.bg-purple {
  background-color: #8AA0FF;
}

.bg-turquoise {
  background-color: #26C6C8;
}

.bg-green-s {
  background-color: #6EC877;
}

.bg-violet {
  background-color: #C366D2;
}

.bg-gray-3 {
  background-color: #F7F7F7;
}

.m-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.p-title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.config-flex .box-store {
  margin-right: 14px;
  margin-bottom: 10px;
}

.title-1 {
  font-size: 20px;
}

.title-2 {
  font-size: 24px;
}

.title-3 {
  font-size: 32px;
}

.title-4 {
  font-size: 42px;
}

.title-5 {
  font-size: 12px;
}

.title-6 {
  font-size: 14px;
}

.title-7 {
  font-size: 10px;
}

.title-position {
  top: 10px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #2EC83D;
  background-color: #2EC83D;
}

.table td,
.table th {
  padding: 1em;
  vertical-align: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #48474A;
  background-color: #F7F7F7;
}

.btn-table {
  height: 24px;
  width: 84px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
}

.card-states {
  height: 13px;
  width: 52px;
  color: #48474A;
  font-size: 10px;
  line-height: 13px;
  border-radius: 2px;
}

.card-orders {
  width: 74px;
  border-radius: 3px;
}

.cards-number {
  height: 45px;
  width: 56px;
  background-color: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.box-states {
  height: 36px;
  width: auto;
  background-color: white;
  border: 0.5px solid #D8D8D8;
  border-radius: 2px;
}

.box-store {
  width: 234px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.box-title-store {
  border-radius: 2px;
  background-color: #2EC83D;
  color: white;
}

.bar-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.table {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.edit-input {
  height: 24px;
  width: 89px;
  border: 1px solid #5E9DD7;
  border-radius: 1px;
  background-color: #FFFFFF;
  box-shadow: 0 0 3px 0 #5E9DD7;
  text-align: center;
}

.image-logo {
  height: 86px;
  width: 213px;
  position: relative;
  right: 20%;
}

header {
  background-color: white;
  box-shadow: 0px -2px 5px 0px #9e9c9e;
}

.section-logo {
  height: 150px;
  background-color: #919191;
}

.section-call-center {
  height: 180px;
  width: 480px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 25px;
  left: 25px;
}

.grid-states-call {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.grid-section-call {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.grid-number-rejected {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.grid-store-box {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  align-items: center;
  grid-gap: 1em;
}

.grid-states-store {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1em;
}

.grid-name-store {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tabs label {
  order: 1;
  display: block;
  padding: 10px 2rem;
  margin-right: 0.1px;
  cursor: pointer;
  background-color: #EBEBEB;
  font-weight: bold;
  transition: background ease 0.2s;
  border-radius: 8px 8px 0 0;
  border: 0.5px solid #D8D8D8;
  font-size: 10px;
  width: 150px;
  text-align: center;
  height: 31px;
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
}

.tabs input[type=radio] {
  display: none;
}

.tabs input[type=radio]:checked + label {
  background: white;
}

.tabs input[type=radio]:checked + label + .tab {
  display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
.tabs label {
    order: initial;
  }

  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
.tab-stores {
  width: 660px;
}

.tab-pay {
  width: 891px;
}

/*# sourceMappingURL=main.css.map */
