.card-states {
    height: 13px;
    width: 52px;
    color: #48474A;
    font-size: 10px;
    line-height: 13px;
    border-radius: 2px;
}

.card-orders {
    width: 74px;
    border-radius: 3px;
}

.cards-number {
    height: 45px;
    width: 56px;
    background-color: #FAFAFA;
    @include card-shadow();
}

.box-states {
    height: 36px;
    width: auto;
    background-color: white;
    border: 0.5px solid #D8D8D8;
    border-radius: 2px;
}

.box-store {
    width: 234px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.box-title-store {
    border-radius: 2px;
    background-color: $green-light;
    color: white;
}

.bar-shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.detail-products-orders {
    position: absolute;
    top: 40px;
    width: 310px;
    border-radius: 4px;
    background-color: #FAFAFA;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.orders-number-menu {
    color: $gray-dark;
    border-top: 0.5px solid $gray-light-2;
}

.nav-menu{
           
        width: 209px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        font-size: 11px;
        z-index:3;
        right: 29px;
        top: 14px;
        display: grid;
        grid-template-rows: repeat(5,1fr);
        padding: 10px;
        border-radius: 4px;
        align-items: center;

        div{
            padding: 5px;
            cursor: pointer;
            &:hover{
                background-color:$gray-light-3;
            }
        }
}

.menu-states{
    width: 310px;
    top: 32px;
    border-radius: 4px;
    font-size: 12px;
    z-index:3;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}