.input-search{
    border: 0.5px solid #D8D8D8;
    height: 31px;
    width: 100%;
    border-left:  none;
 
    &::placeholder{
        font-size: 10px;
        color: $gray-light;
        padding-left: 10px;
    }
}



.input-search-limit{
    border: 0.5px solid #D8D8D8;
    height: 31px;
    width: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 600px;
   
 
    &::placeholder{
        font-size: 10px;
        color: $gray-light;
        padding-left: 10px;
    }
}

.select-filter{
    border: none;
    height: 31px;
    border-radius: 0;
    border-bottom: 0.5px solid $gray-light;
    border-top:  0.5px solid $gray-light;
    border-left:  0.5px solid $gray-light;
    border-right: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 10px;
    color: $gray-light;
    width: 200px;
}

.input-filter-store{
    border: 1px solid #D8D8D8;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width: 252px;
}
.filter-states {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}


.border-line{
    border-bottom: 0.5px solid $gray-light;
    border-top:  0.5px solid $gray-light;
    height: 31px;
    background-color: white;
}

.select-filter-only{
    border: 0.5px solid $gray-light;
    border-radius: 4px;
    width: 310px;
}

.line-form{
    
        box-sizing: border-box;
        height: 24px;
        width: 2px;
        border: 1px dashed $gray-light;
    
}


.c_checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.c_checkbox label {
    position: relative;
    cursor: pointer;
    bottom: 4px;
   
}

.c_checkbox label:before {
    content: '';
    background-color: transparent;
    border: 1px solid $gray-dark;
    border-radius: 4px;
    padding: 9px;
    display: inline-block;
    position: relative;
    top: 10px;
    cursor: pointer;
    margin-right: 5px;
}

.c_checkbox input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 13px;
    left: 7px;
    width: 5px;
    height: 12px;
    border: solid $green-dark;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


.state-square{
    height: 7px;	
    width: 12px;
    
}