.input-search{
    border: 0.5px solid #D8D8D8;
    height: 31px;
    width: 100%;
    border-left:  none;
 
    &::placeholder{
        font-size: 10px;
        color: $gray-light;
        padding-left: 10px;
    }
}

.select-filter{
    border: none;
    height: 31px;
    border-radius: 0;
    border-bottom: 0.5px solid $gray-light;
    border-top:  0.5px solid $gray-light;
    border-left:  0.5px solid $gray-light;
    border-right: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 10px;
    color: $gray-light;
    width: 200px;
}

.border-line{
    border-bottom: 0.5px solid $gray-light;
    border-top:  0.5px solid $gray-light;
    height: 31px;
    background-color: white;
}

.line-form{
    
        box-sizing: border-box;
        height: 24px;
        width: 2px;
        border: 1px dashed $gray-light;
    
}