.grid-states-call {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.grid-section-call {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.grid-number-rejected {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.grid-store-box {
    display: grid;
    grid-template-columns: .5fr 2fr;
    align-items: center;
    grid-gap: 1em;
}

.grid-states-store {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
}

.grid-name-store {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-store-general {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 1.5em 1em;
    justify-items: center;
}

.grid-orders-detail {
    display: grid;
    grid-template-columns: 310px 2fr .8fr;
    grid-template-rows: repeat(6, 1fr);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.grid-two-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid $gray-light;
    padding: 10px;
}