header {
    background-color: white;
    box-shadow: 0px -2px 5px 0px rgba(158,156,158,1);
}

.section-logo {
    height: 150px;
    background-color: $gray-dark;
}

.section-call-center {
    height: 180px;
    width: 480px;
    background-color: #FFFFFF;
    @include card-shadow();
    top: 25px;
    left: 25px;
}