.tabs {
    display: flex;
    flex-wrap: wrap; // make sure it wraps
}

.tabs label {
    order: 1; // Put the labels first
    display: block;
    padding: 10px 2rem;
    margin-right: 0.1px;
    cursor: pointer;
    background-color: $gray-light-2;
    font-weight: bold;
    transition: background ease 0.2s;
    border-radius: 8px 8px 0 0;
    border: 0.5px solid $gray-light;
    font-size: 10px;
    width: 150px;
    text-align: center;
    height: 31px;
}

.tabs .tab {
    order: 99; // Put the tabs last
    flex-grow: 1;
    width: 100%;
    display: none;
    // background: white;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked+label {
    background: white;
}

.tabs input[type="radio"]:checked+label+.tab {
    display: block;
}

@media (max-width: 45em) {
    .tabs .tab,
    .tabs label {
        order: initial;
    }
    .tabs label {
        width: 100%;
        margin-right: 0;
        margin-top: 0.2rem;
    }
}


.tab-stores{
    width: 660px;
}

.tab-pay{
    width: 891px;
}