.white-text {
    color: white;
}

.gray-text {
    color: $gray-dark;
}

.bg-gray-light {
    background-color: $gray-light;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-orange {
    background-color: $orange;
}

.bg-skyblue {
    background-color: $blue-sky;
}

.bg-green-dark {
    background-color: $green-dark;
}

.bg-purple {
    background-color: $purple;
}

.bg-turquoise {
    background-color: $turquoise;
}

.bg-green-s {
    background-color: $green-2;
}

.bg-violet {
    background-color: $violet;
}

.bg-gray-3 {
    background-color: $gray-light-3;
}

.bg-white {
    background-color: white;
}