.white-text {
    color: white;
}

.bg-gray-light {
    background-color: $gray-light;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-orange {
    background-color: $orange;
}

.bg-purple {
    background-color: $purple;
}

.bg-turquoise {
    background-color: $turquoise;
}

.bg-green-s {
    background-color: $green-2;
}

.bg-violet {
    background-color: $violet;
}

.bg-gray-3 {
    background-color: $gray-light-3;
}