// Colors
$gray-light:#D8D8D8;
$gray-dark:#919191;
$gray-dark-2:#48474A;
$red-light:#DD3D3D;
$red-dark:#C81818;
$green-light:#2EC83D;
$yellow:#F6CF2E;
$orange:#F5871F;
$purple:#8AA0FF;
$turquoise:#26C6C8;
$violet:#C366D2;
$green-2:#6EC877;
$peach:#FF8080;
// Fonts
$roboto: 'Roboto',
sans-serif;